# dependencies
ZimbraLoginApp/node_modules/

# CocoaPods
ZimbraLoginApp/ios/Pods/

# Android
ZimbraLoginApp/android/app/build/
ZimbraLoginApp/android/build/
ZimbraLoginApp/android/.gradle/
ZimbraLoginApp/android/app/.cxx/

# iOS
ZimbraLoginApp/ios/build/
ZimbraLoginApp/ios/DerivedData/

# Metro
ZimbraLoginApp/.metro/

# Expo
ZimbraLoginApp/.expo/
ZimbraLoginApp/.expo-shared/

# production
ZimbraLoginApp/build/

# macOS
.DS_Store
**/.DS_Store

# Logs
*.log

# Optional (usually KEEP this tracked)
# ZimbraLoginApp/package-lock.json