# dependencies
ZimbraLoginApp/node_modules/

# repo-level docs/locks
README.md

# CocoaPods
ZimbraLoginApp/ios/Pods/

# Android
ZimbraLoginApp/android/app/build/
ZimbraLoginApp/android/build/
ZimbraLoginApp/android/.gradle/
ZimbraLoginApp/android/app/.cxx/

# iOS
ZimbraLoginApp/ios/build/

# Metro
ZimbraLoginApp/.metro/

# Expo
ZimbraLoginApp/.expo/
ZimbraLoginApp/.expo-shared/

# production
ZimbraLoginApp/build/
