# dependencies
ZimbraLoginApp/node_modules/

# CocoaPods
ZimbraLoginApp/ios/Pods/

# Android
ZimbraLoginApp/android/app/build/
ZimbraLoginApp/android/build/

# iOS
ZimbraLoginApp/ios/build/

# Metro
ZimbraLoginApp/.metro/

# Expo
ZimbraLoginApp/.expo/
ZimbraLoginApp/.expo-shared/

# production
ZimbraLoginApp/build/

